@media only screen and (max-width: 857px) {
  .spring_dress{
    font-size: 40px;
  }

  .shop_collection_btn{
    width: 230px;
  }

  .shop_collection_line_arrow{
    width: 26px;
    margin-left: 175px;
  }

  .limlted_edition_spring_dress_shop_colloction_block_for_exclusive{
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
    #carousel_image_container{
      margin-top: 183px;
    }

    #navbar_link{
      color: black;
      font-weight: 600;
    }

    .tel{
      color: black;
      font-weight: 500;
    }

    .mail{
      color: black;
      font-weight: 500;
    }

    .login{
      color: black;
    }

    #slider_text{
      /* text-align: left; */
      height: -webkit-fill-available;
      align-items: center;
      display: grid;
    }
  }

  @media only screen and (max-width: 767px){
    #slider_shop_now_btn{
      border: 2px solid white;
      padding: 10px 20px 10px 20px;
      border-radius: 50px;
      color: white;
      width: 152px; 
    }

    #inner_nav{
      background: white;
      padding-left: 20px;
    }
  }

  @media only screen and (max-width: 575px) {
    #carousel_image_container{
      margin-top: 100px;
    }

    #inner_nav{
      margin-top: 13px;
      background: white;
    }

    #navbar_link{
      color: black;
      font-weight: 600;
      padding-left: 20px;
    }

    .First_carousel_arrow{
      display: none;
    }

    #front_top_discription{
      display: none;
    }

    #products_section{
      margin-top: 4rem;
    }

    .limided_edition_block{
      height: 190px;  
      width: 100%;
      justify-content: center;
    }

    .limlted_edition_spring_dress_shop_colloction_block {
      padding: 1rem;
    }

    #spring_dressess{
      font-size: 22px;
    }

    .shop_collection {
      padding: 10px 50px 10px 0px;
    }
  }

  @media only screen and (max-width: 464px) {
    .limlted_edition_spring_dress_shop_colloction_block_for_exclusive{
      margin-left: 1px;
    }

    .spring_dress{
      font-size: 25px;
    }

    #spring_dressess{
      font-size: 22px;
    }

    .shop_collection{
      padding: 10px 37px 10px 0px;
    }

    .limided_edition_block{
      padding: 1px;
    }
  }

  @media only screen and (max-width: 390px) {
    .limided_edition_block{
      height: 130px;
    }

    .spring_dress{
      font-size: 20px;
    }
  }